<% include ../partials/header %>
<div class="container-fluid new-gallery-form new-page-form">
    <div class="arrow-right edit-back-arrow">
        <div class="back-button-div">
            <a class="back-button" href="/admin"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>
    <h1 class="new-page-title">New Gallery Item</h1>
    <form class="new-form" action="/gallery" method="POST">
        <input class="experience-input" type="text" name=cover placeholder="COVER PHOTO">
        <input class="experience-input" type="text" name=albumId placeholder="ALBUM ID">
        <input class="experience-input" type="text" name=title placeholder="TITLE">
        <input class="experience-input" type="text" name=description placeholder="ALBUM DESCRIPTION">
        <input class="experience-input" type="text" name=dates placeholder="TRAVEL DATES">
        <div class="row">
            <div class="col-lg-12 submit-row">
                <button class="btn create submit">CREATE</button>
            </div>
        </div>
    </form>
</div>
<% include ../partials/footer %>