<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dyer Adventures</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Bevan|Emblema+One|Knewave|Skranji:700|Syncopate:700&display=swap"
        rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/blog.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/forms.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/admin.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/gallery.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-md bg-dark navbar-dark partials-header">
        <a class="navbar-brand" href="/">DYER ADVENTURES</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</span></a>
                </li>
                <% pages.forEach(function(page) { %>
                <li class="nav-item">
                    <a class="nav-link"
                        href="/<%= page.pageName.toLowerCase() %>"><%= page.pageName.charAt(0).toUpperCase() + page.pageName.slice(1).toLowerCase() %>
                    </a>
                </li>
                <% }); %>
                <li class="nav-item ">
                    <a class="nav-link" href="/blogs">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">Gallery</a>
                </li>
                <% if(!currentUser) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length > 0) { %>
        <div class="alert alert-info" role="alert"><%= error %></div>
        <% } %>
        <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert"><%= success %></div>
        <% } %>
    </div>
</body>

</html>